
    {{>hederlinks}}
  
    {{>navbar}}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 col-12 mx-auto mt-5 mb-5 colors">
          <div class="row header">
            <div class="col-md-12 col-12 para align-items-center">
             <h1 class="error">
              404 <br>
               <p class="para">Welcome WebDev</p>
               <h3>{{Errormsg}}</h3>
             </h1> 
            
               <button class="btn-dark mt-5 btn_style d-flex mx-auto"><a href="/" >Go Back</a></button>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   {{>footer}}
 