
  <body>
   {{>navbar}}
    <div class="container-fluid">
      <div class="row m-2">
        <div class="col-md-10 col-12 mx-auto">
         <div class="row _header">
           <div class="col-md-6 col-12 p-3 mt-auto mb-auto">
             <h1 class="heding"> <span class="text-ghraphy"> We will tell you how to learn web</span></h1> 
               <h1 class="heding"> development and how you can become</h1>
               <h1 class="heding text-ghraphy">a good full stack web developer.</h1>
               <button class="btn mt-5 btn_style d-flex mx-auto"><a href="#about" >Read More</a></button>
            </div> 
           <div class="col-md-6 col-12 p-3 mt-auto mb-auto">
             <figure>
               <img src="images/img2.jpg" class="img-fluid" alt="WebTech">
             </figure>
           </div>
         </div>
        </div>
      </div>


      <div class="row m-2">
        <div class="col-md-10 col-12 mx-auto header">
          <div class="row">
            <div class="col-md-4 col-12">
          <h1 class="text-center dev" id="logo">Why We Learn Full Stack Web Development?</h1>
             <p class="para">
                Full Stack Development is a software profession/stream where a developer deals with both the Frontend (client-side) and Backend (server-side) of a tech product. A Full Stack Developer is proficient in several technologies that help in developing a robust tech product, and thus play a major role in making decisions for the company. It is one of the high-demand jobs in the software industry.
            </p>
          </div>
          
          

    
        <div class="col-md-4 col-12  _header p-3">
          <h1 class="text-center center">What is the job of a Full Stack Developer?</h1>
             <p class="para text-light dev">
              Full-stack developers develop both the front-end and the server-side of the application, deploy, debug and maintain their databases and servers. Being a Full Stack Web Developer, you will be at an edge as you make better technical decisions and see the big picture. a Full Stact Developer Build A fully functionali And responsive Web siite.A full stack developer job is not esay to do but these job intrusting another jobs.
            </p>
        </div>
      
        <div class="col-md-4 col-12  header">
          <h1 class="text-center dev" id="logo">What skills are required to become a Full Stack Developer?</h1>
             <p class="para">
               As a Full Stack Developer, you become the jack of all techs, which means you must learn and be proficient in:
HTML, CSS, UI & UX, JavaScript, etc.
Server-side languages such as Java, Python, Node.js, Or Golang, etc.
Frameworks Express, Spring Boot, Django, etc.
Along with an understanding of System Design, Data Structures and Algorithms, Databases, and version control systems like Git.
            </p>
            </div>
            </div>
          </div>
        </div>
        {{>about}}
        {{>gellery}}
        
      </div>
{{>footer}}
  </body>
