{{>hederlinks}}
  {{>navbar}}
      <div class="container-fluid my-auto justify-content-center align-items-center">
        
  
<div class="row mt-1 mr-1 ml-1 p-1 ">
  <div class="col-md-10 col-12 mx-auto contact">
      <h1 class="devlp d-flex justify-content-center mx-auto">contact</h1>
    <form action="/login" method="post" class="contact">
      <div class="form-group">
            <input
              type="email"
              class="form-control"
              placeholder="Enter Email"
              name="email"
              value=""
              autocomplete="off"/>
      </div>
      <div class="form-group">
            <input
              type="password"
              class="form-control"
              placeholder="Enter password"
              name="password"
              value=""/>
      </div>
      <button type="submit" class="btninput justify-content-center d-flex mx-auto" value="">submit</button>
    </form>
  </div>
</div>
</div>
{{>footer}}