<div class="row m-2" id="about">
  <div class="col-md-10 col-12 mx-auto">
    <div class="d-flex mx-auto my-2 justify-content-center dev">
      <h1 class="aboutdev p-4">About Dev</h1>
    </div>
    <div class="row _header">
      <div class="col-md-6 col-12 p-3 mt-auto mb-auto">
        <h1 class="heding">
          <span class="text-ghraphy">Let us know more about Full Stack
          </span></h1>
        <h1 class="heding">Development and how it works.</h1>
        <h1 class="heding text-ghraphy">How does a Full Stack Developer work?</h1>

      </div>
      <div class="col-md-6 col-12 p-3 mt-auto mb-auto">
        <figure>
          <img src="images/img3.jpg" class="img-fluid" alt="WebTech" />
        </figure>
      </div>
    </div>
  </div>
</div>

<div class="row m-2">
  <div class="col-md-10 col-12 mx-auto header">
    <figcaption>
      <p class="para">
        Thinking about a career in full-stack development? We spoke with Taylor,
        a technology consultant and full-stack software developer at RightNow
        Media, to find out more about her day to day and what she works on in
        her full-stack role. Taylor was a consultant on our brand new Back-End
        Engineer Career Path. In our interview, Taylor defines full-stack
        development, talks about what she loves about her job, and shares some
        tips for aspiring full-stack developers who are just starting out. If
        you’re interested in becoming a full-stack developer, our new Full-Stack
        Engineer Career Path is designed to prepare you with everything you need
        to get an entry-level job in full-stack development. When we refer to
        the stack, Taylor explains, we refer to “all the different applications
        that are communicating with one another and all the different programs
        that are working with each other to take a request from a user’s browser
        or mobile phone and all the APIs and servers and databases that are
        talking to one another to respond to that request.” “A full-stack
        engineer is a software developer that’s writing code not only for the
        user’s front-end web applications or mobile applications, but they’re
        also writing API code that sits in the middle, they’re writing server
        code that sits in the back, and they’re also connecting and
        communicating with databases.” How does a full-stack developer different
        from a front-end or back-end developer? Essentially a full-stack
        developer does both front-end and back-end development. But that’s not
        all. “They also understand how those pieces work together, and they’re
        able to create the communication that exists between those two sides,”
        says Taylor. “A full-stack developer is not just looking at front-end
        and back-end, but also at how those two pieces communicate and how they
        integrate together.”
      </p>
    </figcaption>
  </div>
</div>