
<div class="container-fluid">
  <div class="row _header">
    <div class="col-md-10 col-12 mx-auto">
      <nav class="navbar navbar-expand-lg  header p-3">
        <a class="navbar-brand" href="/" id="logo">Web<span class="text-light">Dev</span> </a>
   <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"><i
              class="fa-solid fa-align-justify"
            ></i></span>
        </button>

   {{>hederlinks}}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto ">
            <li class="nav-item active colors">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item  colors">
              <a class="nav-link " href="#about">About</a>
            </li> 
             <li class="nav-item  colors">
              <a class="nav-link" href="#gellery">Gellery</a>
            </li> 
            <li class="nav-item  colors">
              <a class="nav-link" href="/register">Register</a>
            </li>
             <li class="nav-item  colors">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item  colors">
              <a class="nav-link" href="/webdev">WebDev</a>
            </li>
            <li class="nav-item  colors">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
        </div>
      </nav>
    </div>
  </div>
</div>